* {
    font-family: sans-serif;
}



#calculator-body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: solid;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 250px;
    text-align: center;
    background-color: lightgray;
}

#screen {
    margin: auto;
    text-align: center;
    border: solid;
    width: 90%;
    margin-bottom: 1rem;
    vertical-align: bottom;
    border-radius: 0.5rem;
    background-color: white;
}

#screen > textarea {
    border: none; 
    padding: 0.5rem;
    resize: none;
    max-width: 100%;
    height: 1.2rem;
    text-align: right;
    vertical-align: bottom;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#keypad {
    margin-top: 2rem;
    border-radius: 0.5rem;
    margin: auto;
    width: 90%;
    text-align: center;
}

.number-button {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}

.operator-button {
    background-color: #EAA65E;
}

#clear-button {
    background-color: lightcoral;
}

#equals-button {

    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    background-color: #C7E7D2;
    
}

button {
    box-shadow: 0.1rem 0.2rem #888888;
    margin: 0.15rem;
}

button:hover {
    border: solid;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;

}

.footer > p {
    font-size: 1.1rem;
}

.fa-github {
    color: black;
    padding: 0.5rem;
    font-size: 1.75rem;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }